<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>
</head>

<script type="text/javascript">
  function request(e) {
    const annotation = $(e).siblings("#annotation").val();
    const text = $(e).siblings("#text").val();

    if ($(e).siblings("#method").val() == "GET") {
      $ajax.get({
        url: $url.getPath("get?annotation=" + annotation + "&text=" + text),
        success: function () {
          $(e).siblings("#result").text("Success");
        }
      })
    } else if ($(e).siblings("#method").val() == "POST") {
      $ajax.post({
        url: $url.getPath("post"),
        data: {
          annotation: annotation,
          text: text
        },
        success: function () {
          $(e).siblings("#result").text("Success");
        }
      })
    } else {
      $ajax.put({
        url: $url.getPath("put"),
        data: {
          annotation: annotation,
          text: text
        },
        success: function () {
          $(e).siblings("#result").text("Success");
        }
      })
    }
  }

</script>
<body>
<div th:object="${response}">
  <div>
    <span>Method</span>
    <input type="text" th:id="method" value="GET" readonly>
    <span>Annotation</span>
    <input type="text" th:field="*{annotation}">
    <span>Text</span>
    <input type="text" th:field="*{text}">

    <span th:id="result"></span>

    <input type="button" onclick="request(this);" value="전송">
  </div>

  <div>
    <span>Method</span>
    <input type="text" th:id="method" value="POST" readonly>
    <span>Annotation</span>
    <input type="text" th:field="*{annotation}">
    <span>Text</span>
    <input type="text" th:field="*{text}">

    <span th:id="result"></span>

    <input type="button" onclick="request(this);" value="전송">
  </div>

  <div>
    <span>Method</span>
    <input type="text" th:id="method" value="PUT" readonly>
    <span>Annotation</span>
    <input type="text" th:field="*{annotation}">
    <span>Text</span>
    <input type="text" th:field="*{text}">

    <span th:id="result"></span>

    <input type="button" onclick="request(this);" value="전송">
  </div>
</div>
</body>
</html>