<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>

<script>
    function getPage(page) {
        location.href = "/annotation/" + page;
    }
</script>

<body>
<h3>Annotation select page</h3>
<button type="button" onclick="getPage('requestParamTest')">@RequestParam</button>
<button type="button" onclick="getPage('PathVariableTest')">@PathVariable</button>
<button type="button" onclick="getPage('ModelAttributeTest')">@ModelAttribute</button>
<button type="button" onclick="getPage('RequestBodyTest')">@RequestBody</button>
</body>
</html>